*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src: url(./Fonts/Poppins-Medium.ttf);
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop;
    flex-direction: column;
}
.head{
    text-align: center;
}
.head_1{
    font-size: 30px;
    font-weight: 600;
    color: #333;
}
.head_1 span{
    color: #f25a5a;
}
.head_1-green span{
    color: #2176ff;
}
.head_1-black span{
    color: #132a13;
}
.head_2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 3px;
}
ul:not(.nav-links){
    display: flex;
    margin-top: 80px;
}
ul:not(.nav-links) li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul:not(.nav-links) li .icon{
    font-size: 35px;
    color: #f25a5a;
    margin: 0 60px;
}
ul:not(.nav-links) li .icon-green{
    font-size: 35px;
    color: #2176ff;
    margin: 0 60px;
}
ul:not(.nav-links) li .icon-black{
    font-size: 35px;
    color: #132a13;
    margin: 0 60px;
}
ul:not(.nav-links) li .text{
    font-size: 14px;
    font-weight: 600;
    color: #f25a5a;
}
ul:not(.nav-links) li .text-green{
    font-size: 14px;
    font-weight: 600;
    color: #2176ff;
}
ul:not(.nav-links) li .text-black{
    font-size: 14px;
    font-weight: 600;
    color: #132a13;
}

/* prog Div Css  */

ul:not(.nav-links) li .prog{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(210, 210, 210, 0.713);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.prog::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(210, 210, 210, 0.713);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}

ul:not(.nav-links) li .prog .uil{
    display: none;
}
ul:not(.nav-links) li .prog p{
    font-size: 13px;
}

/* Active Css  */

ul:not(.nav-links) li .active{
    background-color: #f25a5a;
    display: grid;
    place-items: center;
}
ul:not(.nav-links) li .active-green{
    background-color: #2176ff;
    display: grid;
    place-items: center;
}
ul:not(.nav-links) li .active-black{
    background-color: #132a13;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: #f25a5a;
}
li .active-green::after{
    background-color: #2176ff;
}
li .active-black::after{
    background-color: #132a13;
}
ul:not(.nav-links) li .active p{
    display: none;
}
ul:not(.nav-links) li .active-green p{
    display: none;
}
ul:not(.nav-links) li .active-black p{
    display: none;
}
ul:not(.nav-links) li .active .uil{
    font-size: 20px;
    display: flex;
}
ul:not(.nav-links) li .active-green .uil{
    font-size: 20px;
    display: flex;
}
ul:not(.nav-links) li .active-black .uil{
    font-size: 20px;
    display: flex;
}

/* Responsive Css  */

@media (max-width: 980px) {
    ul:not(.nav-links){
        flex-direction: column;
    }
    ul:not(.nav-links) li{
        flex-direction: row;
    }
    ul:not(.nav-links) li .prog{
        margin: 0 30px;
    }
    .prog::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    ul:not(.nav-links) li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
}
